.about {
  padding: 160px 0 240px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    max-width: 650px;
  }

  &__name {
    font-size: 20px;
    position: relative;
    margin-bottom: 45px;
    color: $doveGray;
    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 60px;
      background-color: $doveGray;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
    }
  }

  &__subtitle {
    font-size: 50px;
    line-height: 102%;
    margin-bottom: 40px;
  }

  &__text {
    font-size: 19px;
    line-height: 140%;
    color: $tundora;
    margin-bottom: 55px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    width: 33%;
  }
  
  &__info {
    color: $tundora;
    display: flex;
    font-size: 90px;
    align-items: center;

    span {
      color: $black;
      font-size: 18px;
      display: inline-block;
      padding-left: 15px;
    }
  }
}
