.single {
  padding: 65px 0;

  &__image {
    display: inline-block;
    max-width: 144px;
    height: 181px;
 
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__img {
    display: inline-block;
    width: 590px;
    height: 704px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 760px 500px;
    column-gap: 45px;
    margin-bottom: 100px;
  }

  &__wrapper {
    width: 760px;
    display: flex;
  }

  &__content {
    padding-top: 100px;
    max-width: 500px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    row-gap: 25px;
  }

  &__title {
    font-size: 48px;
    margin-bottom: 20px;
  }

  &__price {
    font-size: 28px;
    color: $tundora;
    margin-bottom: 15px;
  }

  &__reviev {
    font-size: 18px;
    color: $tundora;
    margin-bottom: 25px;
    svg {
      color: $black;
    }
  }

  &__text {
    font-size: 19px;
    color: $tundora;
    margin-bottom: 50px;
  }

  &__counter {
    border: 1px solid $black;
    width: 109px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 33px;
  }

  &__num {
    width: 32px;
    font-size: 19px;
    height: 20px;
    text-align: center;
  }

  &__plus {
    padding: 15px 25px 15px 0;
  }

  &__minus {
    padding: 15px 0 15px 25px;
  }

  &__minus,
  &__plus,
  &__num {
    border: none;
    background-color: $white;
  }

  &__cart {
    display: flex;
    margin-bottom: 55px;
  }

  &__btn {
    padding: 0 48px;
    color: $white;
    background-color: $black;
    border: 1px solid $black;
    text-transform: uppercase;
    transition: color 0.2s ease, background-color 0.2s ease;
    @include _hover {
      background-color: $white;
      color: $black;
    }
  }

  &__icon {
    font-size: 18px;
    @extend %calibri-700;
    span {
      color: $doveGray;
      padding-left: 10px;
      @extend %calibri-400;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.tabs {
  max-width: 950px;
  margin: 0 auto;
  &__item {
    display: none;
    line-height: 1.8;
    padding-top: 35px;
    padding: 35px 5px 0;
    min-height: 130px;
    &.tabs__item--active {
      display: block;
    }
  }

  &__top {
    border-bottom: 1px solid $mercury;
  }

  &__link {
    padding: 0 45px 25px;
    font-size: 19px;
    display: inline-block;
    position: relative;
    margin-bottom: -1px;
    &--active {
      border-bottom: 1px solid $black;
    }

    &::after{
        position: absolute;
        content: "";
        left: 0;
        bottom: -1px;
        width: 0;
        height: 1px;
        background-color: $black;
        transition: width 0.2s ease;
    }
    @include _hover{

        &::after {
            width: 100%;
          }
    }
  }
}
