.team {
  padding: 130px 0;

  &__inner {
    display: grid;
    grid-template-columns: 535px 785px;
  }

  &__content {
    padding-right: 30px;
    position: relative;
    z-index: 3;
    background-color: $white;
    &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100vh;
      background-color: $white;
      left: -100vh;
    }
  }

  &__item {
    width: 425px !important;
    max-width: 100%;
  }

  &__slider {
    display: flex;
  }
}
