.testimonial {
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 130px;
  }

  &__content {
    max-width: 490px;
    margin-right: 55px;
    width: 100%;
  }

  &__list {
    display: flex;
    column-gap: 70px;
  }

  &__item {
    max-width: 455px;
    width: 100%;
    position: relative;
    padding-top: 90px;

    &::before{
      position: absolute;
      content: "";
      background: no-repeat  url('../../images/icons/blockquote.svg');
      width: 67px;
      height: 54px;
      top: 0;
      left: 0;
    }
  }

  &__picture {
    color: $silverChalice;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 22px;
    line-height: 128%;
    @extend %calibri-300;
    margin-bottom: 45px;
    color: $tundora;
  }

  &__cite {
    padding-left: 60px;
    color: $tundora;
    font-style: normal;
    text-transform: uppercase;
    position: relative;
    span {
      display: block;
      padding-left: 60px;
      color: $doveGray;
      text-transform: initial;
    }
    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 35px;
      background-color: $tundora;
      left: 0;
      top: 7px;
    }
  }

  &__inner {
    background: no-repeat url("../../images/content/bg1.jpg");
    background-size: cover;
    background-position: center;
    height: 818px;
    width: 100%;
    display: flex;
  }

  &__wrap {
    display: flex;
    height: 100%;
    align-items: flex-end;
  }

  &__box {
    width: 244px;
    background-color: $white;
    height: 211px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: 25px;
    &:nth-child(2) {
      align-items: center;
      margin-right: 60px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    font-size: 72px;
    margin-bottom: 30px;
    span {
      font-size: 18px;
      line-height: 1;
      padding-left: 10px;
      width: 90px;
    }
  }

  &__img {
    width: 65px;
    height: 64px;
    background-color: $pirateGold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: width 0.2s ease, height 0.2s ease;
    svg {
      color: $white;
      transform: translateX(4px);
    }

    @include _hover {
      width: 80px;
      height: 80px;
    }
  }

  &__link {
    color: $white;
    margin-bottom: 50px;
    transition: color 0.2s ease;
    position: relative;

    svg {
      margin-left: 10px;
      transform: translateY(4px);
      color: $white;
      transition: color 0.2s ease;
    }

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -3px;
      width: 0;
      height: 1px;
      background-color: $white;
      transition: width 0.2s ease;
    }

    @include _hover {
      &::after {
        width: 100%;
      }
    }
  }
}
