</main>
<footer class="footer">
    <div class="container">
        <ul class="footer__inner">
            <li class="footer__item">
                <a class="footer__logo" href="#"> 
                    <!-- TODO avoid words like images, picture, etc in alt attribute -->
                    <img src="images/content/logo-black.png" alt="images logo born">
                </a>
                <div class="footer__copy">© 2021  all right reserved </div>
            </li>
            <li class="footer__item">
                <h3 class="footer__title">contact</h3>
                <!-- TODO address could be any contact info -->
                <address class="footer__address">
                    <a href="#">Gullu nitroso antanito st, 110 Catania, New york</a>
                </address>
                <!-- TODO don't use = sign in tel or mailto -->
                <!-- TODO change to font-weight 400 -->
                <a  class="footer__tel" href="tel:=393489195991">+39 348 9195991</a>
                <a  class="footer__mail" href="mailto:hello@danilodemarco.com">hello@danilodemarco.com</a>
            </li>
            <li class="footer__item">
                <h3 class="footer__title">office time</h3>
                  <div class="footer__graph">
                    9AM - 5PM
                    <span>(sunday closed)</span>
                  </div>
            </li>
            <li class="footer__item">
                <h3 class="footer__title">social links</h3>
                <ul class="footer__links">
                    <li class="footer__link"><a href="#">Facebook</a></li>
                    <li class="footer__link"><a href="#">Twitter</a></li>
                    <li class="footer__link"><a href="#">Linkedin</a></li>
                    <li class="footer__link"><a href="#">Pinterest</a></li>
                </ul>
            </li>
        </ul>
        <button onclick='window.scrollTo({top: 0, behavior: "smooth"});' class="footer__top link-line">Back to top</button>
    </div>
</footer>
<script src="js/main.min.js"></script>
</body>
</html>
