<section class="team">
  <div class="container">
    <div class="team__inner">
      <div class="team__content">
        <!-- TODO incorrect headings structure -->
        <!-- try to remove h3 and left only h2 with span inside -->
        <h2 class="link-line">Our team</h2>
        <h3 class="title">Meet our creative team members.</h3>
        <a class="link-arrow test" href="#">See all members </a>
      </div>
      <div class="teams">
        <ul class="team__slider teams-wrapper">
          <!-- TODO try to use components instead of hardcoded html -->
          <li class="team__item teams-slide">
            <div class="team__img">
              <!-- TODO empty alt -->
              <img src="images/content/team/1.jpg" alt="" />
            </div>
            <div class="team__body">
              <div class="team__name">Blex gordan</div>
              <div class="team__subtitle">Project manager</div>
            </div>
          </li>
          <li class="team__item teams-slide">
            <div class="team__img">
              <img src="images/content/team/2.jpg" alt="" />
            </div>
            <div class="team__body">
              <div class="team__name">Blex gordan</div>
              <div class="team__subtitle">Project manager</div>
            </div>
          </li>
          <li class="team__item teams-slide">
            <div class="team__img">
              <img src="images/content/team/3.jpg" alt="" />
            </div>
            <div class="team__body">
              <div class="team__name">Blex gordan</div>
              <div class="team__subtitle">Project manager</div>
            </div>
          </li>
          <li class="team__item teams-slide">
            <div class="team__img">
              <img src="images/content/team/4.jpg" alt="" />
            </div>
            <div class="team__body">
              <div class="team__name">Blex gordan</div>
              <div class="team__subtitle">Project manager</div>
            </div>
          </li>
          <li class="team__item teams-slide">
            <div class="team__img">
              <img src="images/content/team/4.jpg" alt="" />
            </div>
            <div class="team__body">
              <div class="team__name">Blex gordan</div>
              <div class="team__subtitle">Project manager</div>
            </div>
          </li>
          <li class="team__item teams-slide">
            <div class="team__img">
              <img src="images/content/team/4.jpg" alt="" />
            </div>
            <div class="team__body">
              <div class="team__name">Blex gordan</div>
              <div class="team__subtitle">Project manager</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
